@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Gazia";
    src:
      url("./src/font/Giaza\ Stencil.otf") format("opentype"); }
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

    p {
    text-align: center;
}

.hero-img {
    background-image: url('img/image/Chocolat2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

}

menu {
    font-size: 18px;
    display: flex;
}




.acceuil-bouton1 {
    display: flex;
    background-color: #E55611;
    width: 162px;
    height: 53px;
    color: white;
    margin-left: 50px;
    text-align: left;
   
    
    
}

header {
    padding: 0 20px;
    height: 100px;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
   
  

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #E55611;
    }
}

.logo {
    height: 50px;
}


h1 {
    text-align: left;
    color: white;
    font-size: 40px;

}

p {
    text-align: center;
    color: white;
    font-size: 15px;

}



.texte_histoire {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E55611;
    text-align: center;
    
}


.search_input {
    border: 0;
    background-color: #E55611;
    width: 100px;
    

    }    



.search_bloc {
    height: 40px;
    background-color: #E55611;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon_search {
    width: 20px;

    .p{
    text-align: center;
    }    
}

/* 
.chocolat{
   display: flex;
   backgr
} */

.histoire-title{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;   
    h2 {
        text-align: center;
        color: #E55611;  
    }
    p {
        color: #E55611;
        text-align: center;
    }
}

.hero {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.txt_hero {
    height: 30%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-evenly;

    button {
    
        display: flex;   
        color: white;
        background-color :#E55611;
        height: 43px;
        width: 100px;
        justify-content: center;
        align-items: center;
        border: none;
        transition: 500ms;
    
    }
    button:hover { 
        color :#E55611; 
        background-color: rgba(255, 255, 255, 0);
        border: solid #E55611 2px;
        
    }
}
 


.icon_panier {
    width: 40px;
}

.image_cacao{
    width: 45%;
    height: 376px;
    object-fit: cover;
}

.image_cote_divoire {
    width: 55%;
    object-fit: cover;
}


.history_container-blocs{
display: flex;
background-color: #E55611;
width: 100%;
height: fit-content;
justify-content: space-between;


.history_bloc {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        text-align: start;
        padding: 10px;
        justify-content: center;
    }
    p {
        text-align: start;
        padding: 20px;
    }

}


h3{
    color: white;   
    text-align: center;
    }


}  

.history_texte_bloc {
   p{
    display: flex;
    text-align: center; 
   }
   
}



.filiere_container-blocs{
    display: flex;
    flex-direction: row-reverse;
    background-color:#09913F;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom:100px ;

    .filiere_bloc {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20;
        p {
            text-align: start;
            padding: 30px;
        }
    

    }

    
}
 h4{
        color: white;   
        text-align: center;
        }


.vidéo_container-bloc{
    display: flex;
    background-color: #E55611;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-inline: 20px;
    
    .vidéo_bloc {
        
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        p{
         text-align: start;   
        }
     

    }   


}

.banniere_container-blocs{
    background-image: url('./img/image/chocolate-nuts-black\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 180px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin-top: 50px;
}

.image_bnnière_chocolat { 
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    
  
   }


.tablette{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: center; 
      box-sizing: border-box;

      padding: 50px;
      height: 700px;
     
}



.tablette_packaging{
  
   width: 150px;
   
}


.texte_tablette{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    p {
          color: black;
          text-align: center;
    }
}



/* 
    
    button {
        color: white;
        background-color :#09913F;
        height: 43px;
        width: 100px;
        justify-content: center;
        align-items: center;
        border: none;
        transition: 500ms;
    
    
    }

    button:hover { 
        color :#09913F; 
        background-color: rgba(255, 255, 255, 0);
        border: solid #09913F 2px;

} */

.tablette_button {
color: white;
height: 43px;
width: 100px;
justify-content: center;
align-items: center;
border: none;
transition: 500ms;
}

button:hover { 
    background-color: rgba(255, 255, 255, 0);

}

.greenbutton {
    background-color: #09913F;
}

.greenbutton:hover {
    color :#09913F; 
    background-color: rgba(255, 255, 255, 0);
    border: solid #09913F 2px;
}
.bluebutton {
    background-color: #27346B;
}

.bluebutton:hover {
    color :#27346B; 
    background-color: rgba(255, 255, 255, 0);
    border: solid #27346B 2px;
}
.orangebutton {
    background-color: #E6942E;
}

.orangebutton:hover {
    color :#E6942E; 
    background-color: rgba(255, 255, 255, 0);
    border: solid #E6942E 2px;
   
}
.pinkbutton{
    background-color: #BB7AAA;
}

.pinkbutton:hover {
    color :#BB7AAA; 
    background-color: rgba(255, 255, 255, 0);
    border: solid #BB7AAA 2px;
}

.tablette_packaging1{
  
    width: 150px;
   
}


.tablette_packaging2{
   
    width: 150px;
}


.tablette_packaging3{
   
    width: 150px;
}

   

.banniere-blocs{
    background-image: url('./img/image/Bnnière\ cacao\ 1.png');
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 180px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;

    h2 {
        background-color: rgba(0, 0, 0, 0.318);
        text-align: center;
        width: 50%;
    }
}


.image_bnnière_chocolat { 
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 100 px;


    .rectangle_image{
        display: flex;  
        align-items: center;
        justify-content: center;
      }

}  

.témoignage_container-blocs{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-top: 50px;
    padding:100px;
   
    
}   
    
    .témoignage_bloc {
        
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: black;
            background-color: #09913F;
            background-size: 100px;
    
            }
      
      
    }    



    .image_cacaotree {
     box-shadow: 10px 10px #F0A330;
     

}




footer {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:  450px;
    background-color: #09913F;

    .footer-bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-line {
        height: 300px;
        border-right: solid white 2px;
    }
}